<nav class="navbar fixed-top navbar-expand-md navbar-light zz-navbar">
  <a class="navbar-brand zz-logo" href="#">
    <img src="assets/img/logo.png" alt="" class="zz-logo__img">
  </a>
  <button class="navbar-toggler zz-navbar__button" type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="zz-navbar__button__txt">menu</span>
    <span class="navbar-toggler-icon zz-navbar__button__icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end zz-nav" id="navbarNavDropdown">
    <!--start navigation-->
    <app-nav></app-nav>
    <!--end navigation-->
  </div>
</nav>
