  <ul class="navbar-nav zz-nav__list-group">

      <li class="zz-nav__list-group__item" *ngFor="let navItem of navItems" >
        <a class="zz-nav__list-group__item__link"[routerLink]="[navItem.path]" routerLinkActive="active">  {{navItem.data.title}}
        </a>
      </li>


    <li class="dropdown zz-nav__list-group__item">
      <button class="zz-nav__button" data-toggle="dropdown">
        <img src="assets/img/dummy-portrait.png" height="70px" alt="" class="zz-nav__button__image">
      </button>
      <div class="dropdown-menu dropdown-menu-righ zz-nav__button__menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item zz-nav__button__menu__item" href="#">Profil</a>
        <a class="dropdown-item zz-nav__button__menu__item" href="#">?????</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item zz-nav__button__menu__item" href="#">Abmelden</a>
      </div>
    </li>
  </ul>
