<div class="container-fluid zz-layout">
  <div class="row justify-content-end zz-layout__row">
    <div class="col-12 col-lg-12 col-xl-10 zz-mod-container">
      <h1 class="zz-title">Chat</h1>
      <div class="zz-mod-box zz-mod-box--first">
        <div class="zz-mod-box__img-wrapper">
          <img src="assets/img/dummy-portrait.png" alt="" class="zz-mod-box__img">
        </div>
        <p class="zz-mod-box__txt"><span class="zz-chat__txt-item">Vorname</span><span
          class="zz-chat--line-right"></span><span
          class="zz-chat__txt-item">Klasse XYZ</span></p>
      </div>
    </div>
  </div>
  <div class="row justify-content-end zz-layout__row">
    <div class="col-12 col-lg-12 col-xl-10 zz-mod-container">
      <div class="zz-chat__box ">

        <div class="zz-chat zz-chat__timeline zz-chat__bullet">
          <p class="zz-chat__date--vertical-align">
            <span class=" zz-chat__date">5. Juli 2017</span>
          </p>
        </div>



        <div class="zz-chat zz-chat__timeline zz-chat__bullet">
          <p class="zz-chat__date--vertical-align">
            <span class="zz-chat__date">gestern, 2. August 2017</span>
          </p>
        </div>


        <div class="zz-chat zz-chat__timeline zz-chat__bullet">
          <p class="zz-chat__date--vertical-align">
            <span class="zz-chat__date">heute</span>
          </p>
        </div>

        <app-chat-thread></app-chat-thread>

      </div>

    </div>
  </div>

  <div class="row justify-content-end zz-layout__row">
    <div class="col-12 col-lg-12 col-xl-10 zz-mod-container">

    </div>
  </div>
</div><!--End content-->
