
  <div class="row justify-content-end zz-layout__row">
    <div class="col-12 col-lg-12 col-xl-10 zz-mod-container">
      <h1 class="zz-title">Chat</h1>
      <div class="zz-mod-box zz-mod-box--first">
        <div class="zz-mod-box__img-wrapper">
          <img src="assets/img/dummy-portrait.png" alt="" class="zz-mod-box__img">
        </div>
        <p class="zz-mod-box__txt"><span class="zz-chat__txt-item">Vorname</span><span
          class="zz-chat--line-right"></span><span
          class="zz-chat__txt-item">Klasse XYZ</span></p>
      </div>
    </div>
  </div>
  <div class="row justify-content-end zz-layout__row ">
    <div class="col-12 col-lg-12 col-xl-10 zz-mod-container">
      <div class="zz-chat__box ">

        <div class="" *ngFor="let item of messageItem">

          <app-chat-date [messageItem]="item" ></app-chat-date>
          <app-chat-message [message]="msg" *ngFor="let msg of item.messages"></app-chat-message>

        </div>

        <app-chat-addmessage (send)="onSend($event)"></app-chat-addmessage>

      </div>

    </div>
  </div>

  <div class="row justify-content-end zz-layout__row">
    <div class="col-12 col-lg-12 col-xl-10 zz-mod-container">

    </div>
  </div>
<!--End content-->
