$color-primary: #0d7e7f;

$color-primary-10:#e6f2f2;
$color-primary-20:#cfe5e5;
$color-primary-30:#b6d8d8;
$color-primary-40:#9ecbcb;
$color-primary-50:#86bebe;
$color-primary-60:#6eb1b2;
$color-primary-70:#55a4a4;
$color-primary-80:#3d9798;
$color-primary-90:#258a8b;

$color-gray-very-light:#fbfbfb;
$color-gray-light: #ababab;
$color-gray-middle: #666;
$color-gray-dark: #444;

$color-black: #000;
$color-white: #fff;

$color-red: #a10000;

$color-green: #00de00;


